
    <!-- about  -->
    <section class="ab-sec" id="about">
        <div class="main">
          <div class="picd">
            <div id="pic"></div>
          </div>
          <div class="ab-text">
            <h2>About <span>Me</span></h2>
            <h5>Pritam Samanta</h5>
            <p class="text-muted">
              I am a <b><span class="typeab"></span></b>. Also i am a CSc. student of <br> MIDNAPORE COLLEGE(AUTONOMOUS). I can handle front-end and back-end both sides perfectly. <br>I also make the website more & more interactive with web animations.
            </p><br><div class="download-btn">
              <a href="https://drive.google.com/drive/u/0/folders/1-kinMtYn1Fn7SOxd57VBeS9qAiJezbpn" target="_blank">View CV</a>
              </div><br>
  
            </div>
          </div>
        </section>
  
              <div class="container-social">
                <div class="social-buttons">
                  <a
                    href="https://www.facebook.com/pritam.samanta.528316"
                    class="social-buttons__button social-button social-button--facebook"
                    aria-label="Facebook"
                  >
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/in/pritam-samanta-932990249/"
                    class="social-buttons__button social-button social-button--linkedin"
                    aria-label="LinkedIn"
                  >
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a
                    href="https://github.com/Pritam0011"
                    class="social-buttons__button social-button social-button--github"
                    aria-label="GitHub"
                  >
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>

              <%- include("apps.ejs") %>