
    <!-- applications  -->
    <section class="app" id="app">
        <br>
        <br>
        <div class="app-title outline"><h1><b>Applications</b></h1></div>
        <div class="content">
  
          <div class="appbx">
            <img src="./util/chat.webP" alt="PWChat" width="70vw" />
            <h2><b>PWChat</b></h2>
            <p>
              PWChat is a web application for live chatting. Here you can chat with someone anonymously. Invite your friends and groups to PWChat for fun gossips with anonymous identity.
            </p>
            <div class="buttonjd">
              <a href="https://live-pwchat.herokuapp.com/" class="buttonj buttonju">Click here</a>
            </div>
          </div>
  
          <div class="appbx">
            <img src="./util/qrgen.webP" alt="QrGen" width="70vw" />
            <h2><b>QrGen</b></h2>
            <p>
              QrGen is a web application for generate Qr Codes. Here you can generate qr codes of any type links, emails, phone numbers even any free text also.
            </p>
            <div class="buttonjd">
              <a href="/qrgen" class="buttonj buttonju">Click here</a>
            </div>
          </div>
  
          <div class="appbx">
            <img src="util/notes.webP" alt="Notes" width="70vw" />
            <h2><b>Notes</b></h2>
            <p>
              Notes is a web application for storing notes. Here you can store your
              goals, important meetings, next day tasks. It's uses local storage
              for save your notes.
            </p>
            <div class="buttonjd">
              <a href="/notes" class="buttonj buttonju">Click here</a>
            </div>
          </div>
  
          <div class="appbx">
            <img src="util/news.webP" alt="NewsBox" width="70vw" />
            <h2><b>NewsBox</b></h2>
            <p>
              NewsBox is a web application for getting the latest news and current
              topics. New news are updated automatically everyday. Using
              <tt>Read more</tt> you can read full news from the original news
              source.
            </p>
            <div class="buttonjd">
              <a href="/newsbox" class="buttonj buttonju"
                >Click here</a
              >
            </div>
          </div>
  
          <div class="appbx">
            <img src="./util/coming.webP" alt="Coming..." width="70vw" />
            <h2><b>Coming Soon...</b></h2>
            <p>
              Something Special.....!
            </p>
            <div class="buttonjd">
              <a href="#" class="buttonj buttonju">Coming Soon...</a>
            </div>
          </div>
  
        </div>
      </section>

      <%- include("contact.ejs") %>