<!-- copyright  -->
<div class="copyright">
  <p><tt>Copyright </tt>&#169;<tt> Pritam Web 2022. All Right Reserved.</tt></p>
</div>
<!-- containerc end div -->
</div>
<script>
const loader = document.getElementById("preloader");
setTimeout(ploff, 1500);
function ploff() {
  loader.style.display = "none";
}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://kit.fontawesome.com/85324ccd75.js" crossorigin="anonymous" defer></script>
<script src="js/index.js" defer></script>
</body>

</html>