
    <div class="containerc blurtog active">

        <!-- header  -->
        <div class="head" id="home">
          <div class="header">
            <!-- nav  -->
            <nav >
              <section id="star">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
              </section>
              <div class="logo-box">
                <p>PRITAM WEB</p>
              </div>
              <div class="toggle" id="toggle" onclick="toggleMenu();"></div>
              <div class="sidebar">
                <ul class="menu">
                  <li onclick="toggleMenu();">
                    <a href="#home"><b>HOME</b></a>
                  </li>
                  <li onclick="toggleMenu();">
                    <a href="#about"><b>ABOUT</b></a>
                  </li>
                  <li onclick="toggleMenu();">
                    <a href="#app"><b>APPS</b></a>
                  </li>
                  <li onclick="toggleMenu();">
                    <a href="#contact"><b>CONTACT</b></a>
                  </li>
                  <li onclick="toggleMenu();">
                    <a href="#social"><b>SOCIALS</b></a>
                  </li>
                </ul>
              </div>
              <div class="text-box">
                <h1><span class="type"> </span></h1>
              </div>
            </nav>
          </div>
        </div>
    
      </div>
    </section>

    <%- include("about.ejs") %>