
    <!-- social -->

    <section id="social" class="blurtog active">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
              <a href="https://github.com/Pritam0011"><img id="c1_gif" loading="lazy" src="" draggable="false" class="d-block w-100" alt="Github" ></a>
              <div class="carousel-caption d-none d-md-block caps">
                <a href="https://github.com/Pritam0011" ><p><b>Follow me on GITHUB</b></p></a>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="6000" >
              <a href="https://www.linkedin.com/in/pritam-samanta-932990249/"><img id="c2_gif" src="" draggable="false" class="d-block w-100" alt="linkedin" ></a>
              <div class="carousel-caption d-none d-md-block caps">
                <a href="https://www.linkedin.com/in/pritam-samanta-932990249/"><p><b>Connect with me on LINKEDIN</b></p></a>
              </div>
            </div>
            <div class="carousel-item">
              <a href="https://www.facebook.com/pritam.samanta.528316"><img id="c3_gif" src="" draggable="false" class="d-block w-100" alt="Facebook" ></a>
              <div class="carousel-caption d-none d-md-block caps">
                <a href="https://www.facebook.com/pritam.samanta.528316"><p><b>Follow me on FACEBOOK</b></p></a>
              </div>
            </div>
          </div>
        </div>
        </section>

        <%- include("footer.ejs") %>